<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.net xdt:Transform="Replace" >
    <mailSettings>
      <!--deliveryMethod options: Network, PickupDirectoryFromIis, SpecifiedPickupDirectory -->
      <smtp deliveryMethod="DELIVERY_METHOD" from="FROM_EMAIL_ADDRESS">
        <!--NOTE: only have the network configuration commented in if the deliverMethod is Network
        https://msdn.microsoft.com/en-us/library/ms164242(v=vs.110).aspx
        Please see the link above if there is any confusion on the network settings below, feel free to remove all unnecessary elements.
        The top line(21) contains the most commonly used elements.
        NOTE: If defaultCredential is set to tru userName and password are not needed.-->
        <network host="SMTP_HOST" port="SMTP_PORT" defaultCredentials="false" userName="USERNAME_FOR_SMTP_AUTHORIZATION" password="PASSWORD_FOR_SMTP_AUTHORIZATION"
                 clientDomain="" targetName=""  enableSsl="true"  />
        <!-- specifiedPickupDirectory example: c:\maildrop
        NOTE: only have the pickupDirectoryLocation configuration commented in if the deliverMethod is SpecifiedPickupDirectory-->
        <!--<specifiedPickupDirectory pickupDirectoryLocation="PICKUP_DIRECTORY_LOCATION" />-->
      </smtp>
    </mailSettings>
  </system.net>
  <campusLogicConfig xdt:Transform="Replace" >
    <smtpSettings notificationsEnabled="true" sendTo="COMMA_SEPERATED_LIST_OF_EMAILS_TO_SEND_ERRORS_TO"/>
    <!-- sendTo format should be a semi-colon seperated list of valid emails, 
          ex: "test@test.com; test2@test.com;"
         fromEmailAddress format should always be one email address
    NOTE: userName and password are only needed if useDefaultCredentials is set to false- otherwise leave blank-->
    <clientDatabaseConnection
        connectionString="YOUR_DATABASE_CONNECTION_HERE" >
    </clientDatabaseConnection>
    <!--
      Use eventNotificationId="0" to specify a method for handling all event notififications not handled specifically
      Handle Method Options: 
        DatabaseCommandNonQuery - Must provide a dbCommandFieldValue attribute with desired command to execute and a clientDatabaseConnection
        DatabaseStoredProcedure - Must provide a clientDatabaseConnection
        DocumentRetrieval - Must set the documentSettings config sections
    -->
    <eventNotifications>
      <add eventNotificationId="401" handleMethod="DocumentRetrieval" />
      <add eventNotificationId="202" handleMethod="DatabaseCommandNonQuery" dbCommandFieldValue="" />
      <add eventNotificationId="0" handleMethod="DatabaseStoredProcedure" dbCommandFieldValue="STORED_PROCEDURE_NAME_HERE" />
    </eventNotifications>
    <!--
      indexFileFormat Options: csv, csvnoquotes, tabdelimited, fixedwidth
    -->
    <documentSettings documentStorageFilePath="C:\FileStore\" indexFileEnabled="true" includeHeaderRecord="true" indexFileExtension="txt" indexFileFormat="csvnoquotes" fileNameFormat="EventId" >
      <fieldMappingCollection>
        <add fieldPosition="1" fileFieldName="ID" propertyFieldValue="" constantFieldValue="" dbCommandFieldValue="" />
        <add fieldPosition="2" fileFieldName="Pidm" propertyFieldValue="" constantFieldValue="" dbCommandFieldValue="" />
        <add fieldPosition="3" fileFieldName="Document Type" propertyFieldValue="" constantFieldValue="" dbCommandFieldValue="" />
        <add fieldPosition="4" fileFieldName="Last Name" propertyFieldValue="" constantFieldValue="" dbCommandFieldValue="" />
        <add fieldPosition="5" fileFieldName="First Name" propertyFieldValue="" constantFieldValue="" dbCommandFieldValue="" />
        <add fieldPosition="6" fileFieldName="Blank" propertyFieldValue="" constantFieldValue="" dbCommandFieldValue="" />
        <add fieldPosition="7" fileFieldName="Blank" propertyFieldValue="" constantFieldValue="" dbCommandFieldValue="" />
        <add fieldPosition="8" fileFieldName="Aid Year" propertyFieldValue="" constantFieldValue="" dbCommandFieldValue="" />
        <add fieldPosition="9" fileFieldName="Tracking Requirement" propertyFieldValue="" constantFieldValue="" dbCommandFieldValue="" />
        <add fieldPosition="10" fileFieldName="Tracking Status" propertyFieldValue="" constantFieldValue="" dbCommandFieldValue="" />
        <add fieldPosition="11" fileFieldName="Blank" propertyFieldValue="" constantFieldValue="" dbCommandFieldValue="" />
        <add fieldPosition="12" fileFieldName="Blank" propertyFieldValue="" constantFieldValue="" dbCommandFieldValue="" />
        <add fieldPosition="13" fileFieldName="Blank" propertyFieldValue="" constantFieldValue="" dbCommandFieldValue="" />
        <add fieldPosition="14" fileFieldName="Blank" propertyFieldValue="" constantFieldValue="" dbCommandFieldValue="" />
        <add fieldPosition="15" fileFieldName="Path and Filename" propertyFieldValue="" constantFieldValue="" dbCommandFieldValue="" />
      </fieldMappingCollection>
    </documentSettings>
    <!--
    timeToRun format: HH:MMAM or HH:MMPM
    correctionsFilePath format:
        -Begin with x:\ or \\
        -valid characters are a-z| 0-9|-|.|_         
    -->
    <!--NOTE: timeToRun is set to UTC time
    to convert from your local time please see
    http://www.timeanddate.com/worldclock/converter.html    
    -->
    <!--NOTE: This job always runs daily
    -->
    <isirCorrectionsSettings correctionsEnabled="false" tdClientEnabled="false" correctionsFilePath="YOUR_FILE_PATH_HERE" timeToRun="12:00AM"/>
    <!-- For both ISIR Upload and Award Letter Data upload
      uploadFrequencyType Options: daily, weekly, minutes, hours
      uploadFilePath and archiveFilePath format:
        -Begin with x:\ or \\
        -valid characters are a-z| 0-9|-|.|_ 
    -->
    <isirUploadSettings uploadEnabled="false" uploadFilePath="YOUR_FILE_PATH_HERE" archiveFilePath="YOUR_FILE_PATH_HERE" uploadFrequencyType="daily"/>
    <awardLetterUploadSettings uploadEnabled="false" uploadFilePath="YOUR_FILE_PATH_HERE" archiveFilePath="YOUR_FILE_PATH_HERE" uploadFrequencyType="daily"/>
  </campusLogicConfig>
  <appSettings>
    <add key="FileStoragePath" value="YOUR_DIRECTORY_PATH_HERE" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="APIUsername" value="YOUR_USERNAME_HERE" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="APIPassword" value="YOUR_PASSWORD_HERE" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="GwWebApiUrl" value="ENVIRONMENT_GW_WEB_API_URL_HERE" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IncomingAPIUsername" value="YOUR_BASIC_AUTH_USERNAME_HERE" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IncomingAPIPassword" value="YOUR_BASIC_AUTH_PASSWORD_HERE" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>