<div ng-form name="folderPickerForm">
    <div class="row">
        <div class="col-lg-9">
            <input id="folderPath" class="input-lg col-lg-12" name="folderPath" ng-model="uploadpath" ng-required="isrequired" ng-blur="validateFolderPathUnique()"/>
            <div class="pull-right">
                <span class="field-validation-error" ng-show="(folderPickerForm.folderPath.$dirty && folderPickerForm.folderPath.$error.required) ||(!formvalid && (uploadpath === '' || !uploadpath))">Required</span>
                <span class="field-validation-error" ng-hide="folderPathUnique">All folder paths must be unique across all sections.</span>
            </div>
        </div>
        <div class="col-lg-3">
            <button class="btn btn-light btn-lg" ng-click="openFolderExplorer()">Select</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="pull-left">
                <button class="btn btn-light btn-lg" type="submit" name="testButton" ng-click="testReadWritePermissions()">Test</button>
                <span class="alert alert-success" role="alert" ng-show="validPath && pathValidated">Path is valid</span>
                <span class="alert alert-danger" role="alert" ng-show="!validPath && pathValidated">Invalid Path</span>
            </div>
        </div>
    </div>
    <div class="padding-top-twenty"></div>
</div>

